@import '../../styles/global.scss';

._{
    padding-bottom:100px;
    .container{
        @extend %container;
        .search_filter{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin-top:40px;
            .search{
                position: relative;
                width:450px;
                @media (max-width:768px) {
                    width: 100%;
                    margin-bottom: 30px;
                }
            }

            .filter{
                select{
                    border:none;
                    width: 150px;
                    height:40px;
                    -webkit-box-shadow: -1px 1px 6px 1px rgba(235,235,235,1);
                    -moz-box-shadow: -1px 1px 6px 1px rgba(235,235,235,1);
                    box-shadow: -1px 1px 6px 1px rgba(235,235,235,1);
                    padding:0 10px;
                }
            }
        }
        .countries_container{
            margin-top:50px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
            justify-items: center; // to center all grid items in the container
            grid-gap: 40px 20px;
            @media (max-width:320px) {
                grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
            }
            .loading{
                color: var(--col-text);
                font-size:20px;
                font-style: italic;
                height: 100vh;
            }
        }
    }
}