._{
    width:200px;
    font-size:14px;
    font-weight:600;
    @media (max-width:250px) {
        width: 100%;
    }
    .filter_select{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: var(--shadow-element);
        background-color: var(--col-element);
        color: var(--col-text);
        border-radius: 5px;
        padding: 0 17px;
        cursor: pointer;
        .dropdown_icon{
            font-size: 20px;
        }
        .open{
            font-size: 20px;
            transform: rotate(-180deg);
        }
    }
    .filter_options{
        // -webkit-box-shadow: -1px 1px 6px 1px rgba(235,235,235,1);
        // -moz-box-shadow: -1px 1px 6px 1px rgba(235,235,235,1);
        // box-shadow: -1px 1px 6px 1px rgba(235,235,235,1);
        padding: 10px 17px;
        border-radius: 10px;
        margin-top:10px;
        position: absolute;
        z-index: 1000;
        width: inherit;
        color: var(--col-text);
        background-color: var(--col-element);
        .option_item{
            padding:4px 0;
            cursor: pointer;
        }
    }
    
}