@import '../../styles/global.scss';

input.search_input{
    border:none;
    width: 100%;
    height:45px;
    -webkit-box-shadow: -1px 1px 6px 1px rgba(235,235,235,1);
    -moz-box-shadow: -1px 1px 6px 1px rgba(235,235,235,1);
    box-shadow: -1px 1px 6px 1px rgba(235,235,235,1);
    padding-left:60px;
    border-radius: 5px;
    outline: transparent;
    &::placeholder{
        color:$dark-gray;
    }
}
.search_icon_cont{
    position:absolute;
    top:12px;
    left:20px;
    .search_icon{
        font-size: 20px;
        color:$dark-gray;
    }
}