@import '../../styles/global.scss';

._{
    padding:14px 0px;
    background-color: var(--col-element);
    color: var(--col-text);
    .container{
        @extend %container;
        text-align: center;
        p{
            margin:0;
            font-size: 14px;
            font-weight: 600;
            a{
                text-decoration: underline;
                color: var(--col-text)
            }
        }
    }
}