@import '../../styles/global.scss';
._{
    margin-top:50px;
    padding-bottom:50px;
    .container{
        @extend %container;
        .back_button{
            margin-bottom:70px;
            button{
                background-color: $white;
                padding:8px 30px;
                border-radius: 5px;
                color:$black;
                border: none;
                font-size: 16px;
                -webkit-box-shadow: -1px 1px 5px 1px rgba(201,201,201,1);
                -moz-box-shadow: -1px 1px 5px 1px rgba(201,201,201,1);
                box-shadow: -1px 1px 5px 1px rgba(201,201,201,1);
                cursor: pointer;
                .back_icon{
                    font-size:20px;
                    margin-right:8px;
                    position: relative;
                    top:4px;
                    font-weight: 900;
                    color:$black;
                }
            }
        }
        .country_details{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            @media (max-width:768px) {
                flex-direction: column;
            }
            .country_flag{
                width:40vw;
                height: auto;
                @media (max-width:768px) {
                    width:100%;
                }
                img{
                    width:100%;
                    height: auto;
                    object-fit: cover;
                }
            }
            .sub_details{
                width:45vw;
                margin-top:5vh;
                @media (max-width:768px) {
                    width:100%;
                }
                .details_header{
                    h2{
                        margin-top:0;
                        margin-bottom: 10px;
                        font-weight: 800;
                    }
                }
                .sub_section_details{
                    display: flex;
                    justify-content: space-between;
                    @media (max-width:768px) {
                        display: block;
                    }
                    .section_one{
                        p{
                            color:$black;
                            font-size: 14px;
                            margin-bottom: 8px;
                            margin-top: 8px;
                            span{
                                font-weight: 700;
                            }
                        }
                        @media (max-width:768px) {
                            margin-bottom:40px;
                        }
                    }
                    .section_two{
                        p{
                            color:$black;
                            font-size: 14px;
                            margin-bottom: 8px;
                            margin-top: 8px;
                            span{
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
            .border_countries{
                display: flex;
                align-items: center;
                margin-top:50px;
                @media (max-width:768px) {
                    display: block;
                    margin-top:40px;
                }
                p{
                    color:$black;
                    font-size: 14px;
                    font-weight: 700;
                    margin-right:15px;
                    min-width: 120px;
                    
                }
                .border_counteries_list{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    .border_country_item{
                        padding: 5px 20px;
                        -webkit-box-shadow: -1px 1px 5px 1px rgba(242,239,242,1);
                        -moz-box-shadow: -1px 1px 5px 1px rgba(242,239,242,1);
                        box-shadow: -1px 1px 5px 1px rgba(242,239,242,1);
                        margin-right:10px;
                        font-size: 14px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}