@import '../../styles/global.scss';

._{
    padding:15px 0px;
   -webkit-box-shadow: 3px 7px 4px -3px rgba(235,235,235,1);
    -moz-box-shadow: 3px 7px 4px -3px rgba(235,235,235,1);
    box-shadow: 3px 7px 4px -3px rgba(235,235,235,1);
    .container{
        @extend %container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header{
            a{
                text-decoration: none;
                color:#000000;
            }
            h1{
                margin-top:0;
                margin-bottom:0;
                font-weight: bold;
                font-size: 28px;
                @media (max-width:480px) {
                    font-size:20px;
                }
                @media (max-width:320px) {
                    font-size:15px;
                }
            }
        }
        .mode{
            cursor: pointer;
            .moon_icon{
                position: relative;
                top:2px;
            }
            span{
                padding-left:6px;
                font-weight: 600;
            }
            @media (max-width:480px) {
                font-size:14px;
            }
            @media (max-width:320px) {
                font-size:12px;
            }
        }
    }
}